<h1><%= t('view.title_h1_index') %></h1>
<p><%= notice %></p>

<div class="btn_sort">
  <p><%= link_to t('view.sort_deadline'), tasks_path(sort: true) %></p>
  <p><%= link_to t('view.sort_created_at'), tasks_path %></p>
</div>

<table>
  <tr>
    <td><%= t('view.title') %></td>
    <td><%= t('view.content') %></td>
    <td><%= t('view.deadline') %></td>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_title"><%= task.title %></td>
    <td><%= task.content %></td>
    <td class="sort_test_capybara"><%= task.deadline %></td>
    <td><%= link_to t('view.detail'), task_path(task.id), class: 'submit' %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: t('view.alert_delete') } %></td>
  </tr>
<% end %>
</table>

<div class="btns">
  <p><%= link_to t('view.new'), new_task_path %></p>
</div>