<div class="wrapper-box col-md-8 col-md-offset-2 col-sm-8">
  <h1>サインアップ</h1>
  <% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
  <%= form_with(model: @user, local: true) do |f| %>
    <dt><%= f.label :'name', t('view.user_login_name') %></dt>
    <dd><%= f.text_field :name %></dd>
    <dt><%= f.label :'email', t('view.user_login_email') %></dt>
    <dd><%= f.text_field :email %></dd>
    <dt><%= f.label :'password', t('view.user_login_password') %></dt>
    <dd><%= f.text_field :password %></dd>
    <dt><%= f.label :'password_confirmation', t('view.user_login_password_confirmation') %></dt>
    <dd><%= f.text_field :password_confirmation %></dd>
    <dd><%= f.submit t('view.user_login_create') %></dd>
  <% end %>
  </dl>
</div>