<div class="admin-column col-md-12 col-sm-12">
  <h1>管理画面のユーザー一覧画面です！</h1>
  <p><%= link_to t('view.new'), new_admin_user_path %></p>
  <table class="table">
    <tr>
      <th><%= t('view.user_login_user_id') %></th>
      <th><%= t('view.user_login_name') %></th>
      <th><%= t('view.user_login_email') %></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  <% @users.each do |users| %>
    <tr>
      <td><%= users.id %></td>
      <td><%= users.name %></td>
      <td><%= users.email %></td>
      <td class="btn_detail"></td>
      <td class="btn_edit"></td>
      <td class="btn_delete"><%= link_to t('view.delete'), user_path(users.id), method: :delete, data: { confirm: t('view.alert_delete') } %></td>
    </tr>
  <% end %>
  </table>
</div>